@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="~/Content/ngDialog.css" rel="stylesheet" />
    <link href="~/Content/ngDialog.min.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="EmployeeController">
        <div class="container">
            <div style="padding:10px;" class="form-inline">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Search By Name" ng-model="searchName" />
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="selected_workingday" ng-options="workingDay.day for workingDay in workingDays">
                        <option value="">Search By Working Day</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" style="float:right;" ng-click="openAddDialog()">Add Employee</button>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>BirthDay</th>
                    <th>JoinTime</th>
                    <th>SalaryPerHour</th>
                    <th>TotalHourPerWeek</th>
                    <th>DailyWorkHour</th>
                    <th>WeaklySalary</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | filter:searchName">
                    <input type="hidden" value="{{employee.Id}}" />
                    <td>{{employee.Name}}</td>
                    <td>{{employee.Phone}}</td>
                    <td>{{employee.Birthday | formatDateTime}}</td>
                    <td>{{employee.JoinAt | formatDateTime}}</td>
                    <td>{{employee.SalaryPerHour | currency}}</td>
                    <td>{{employee.TotalHourPerWeek}}</td>
                    <td>{{employee.DailyWorkHours}}</td>
                    <td>{{employee.WeeklySalary | currency}}</td>
                    <td><button class="btn btn-primary" ng-click="Edit(employee.Id)">Edit</button></td>
                    <td><button class="btn btn-primary" ng-click="Delete(employee.Id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
