@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body  ng-app="DakHanMaRi">
    <div ng-controller="EmployeeController">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>BirthDay</th>
                    <th>JoinTime</th>
                    <th>SalaryPerHour</th>
                    <th>TotalHourPerWeek</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.Name}}</td>
                    <td>{{employee.Phone}}</td>
                    <td>{{employee.Birthday | formatDateTime}}</td>
                    <td>{{employee.JoinAt | formatDateTime}}</td>
                    <td>{{employee.SalaryPerHour}}</td>
                    <td>{{employee.TotalHourPerWeek}}</td>
                    <td><button class="btn btn-info">Edit</button></td>
                    <td><button class="btn btn-info">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
