
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div align="center">
            <h2>Product Categories</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-default"><img src="~/Content/Images/Liquor.jpg" class="img-thumbnail img-circle" alt="Cinque Terre" style="width:304px; height:150px;"><p><strong>Liqour</strong></p></button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-default"><img src="~/Content/Images/Soft_Drinks.jpg" class="img-thumbnail img-circle" alt="Cinque Terre" style="width:304px; height:150px;"><p><strong>Soft Drink</strong></p></button>
            </div>
        </div>
    </div>
</body>
</html>
