
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container" ng-controller="CategoryController">
        <div align="center">
            <h2>Product Categories</h2>
        </div>
        <div class="row">
            <div class="col-sm-6" ng-repeat="productCategory in productCategories">
                <button class="btn btn-default" ng-click="getProductByCategoryId(productCategory.CategoryId)"><img ng-src="{{productCategory.CategoryImage}}" class="img-thumbnail img-circle" alt="Cinque Terre" style="width:304px; height:150px;"><p><strong>{{productCategory.CategoryName}}</strong></p></button>
                <div style="padding-left:75px; margin-top:5px;">
                    <button class="btn btn-info" ng-click="editProductCategory(productCategory.CategoryId)">Edit</button> &nbsp;
                    <button class="btn btn-info" ng-click="deleteProductCategory(productCategory.CategoryId)">Delete</button>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
